[flake8]
ignore = E402, E127, W503, W504, N807, E501, E722
exclude = .git, __pycache__, __init__.py, chart/, config/
max-complexity = 10
count = true
max-line-length = 120
statistics = true
per-file-ignore=
      __init__.py: F401
